<div class="jumbotron jumbotron-fluid">
<div class="container">

<br/>
<div class="row">
  <div class="col">

      <input type="text" class="form-control" placeholder="Enter the  Title">
  </div>
   <div class="col">
     <button type="button" class="btn btn-primary">esearch</button>
   </div>
</div>
<hr>
<table class="table">
  <thead class="thead-dark">
    <tr>

      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Completed</th>
      <th scope="col">Created</th>
      <th scope="col">Upated Task</th>
      <th scope="col">Delete</th>
      <th scope="col">Upated</th>
      <th scope="col">Done</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Uma atividade bem Legal</td>
      <td>Foi feito em Duas Semanas</td>
      <td>True</td>
      <td>True</td>
      <td>False</td>
      <td>
        <button type="button" class="btn btn-primary">Primary</button>
      </td>
      <td>
        <button type="button" class="btn btn-danger">Delete</button>
      </td>
        <td>
        <button type="button" class="btn btn-success">Done</button>
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>